<div ng-app="app">
    <div ng-view></div>
</div>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/route-config.js"></script>
<script src="/js/controller.js"></script>
<script src="/js/services.js"></script>